// Layout
$content-width: 1600px;
$gutter: 60px;
$time-animation: .3s;
// Typography
$primary-font: 'Nunito', Helvetica, Arial, sans-serif !default;
$heading-font: 'Baloo Bhai 2', cursive !default;

$font-size-base: 14px;

$h1-font-size: 83px !default;
$h2-font-size: 32px !default;
$h3-font-size: 30px !default;
$h4-font-size: 22px !default;
$h5-font-size: 16px !default;
$h6-font-size: 14px !default;

$title-font-size: 16px;
$meta-font-size: 12px;
$heading-font-size: 36px;

// Colors
$color-primary: #1aebb7;
$color-text: #33658a;
$color-text-secondary: #797f8f; 
$color-text-label: #b3c4d1;      
$color-heading: #2e2e2e;
$color-border: #f0f4f7;

$color-green: #56dabf;
$color-orange: #ff8c3c;
$color-purple: #7c67ff;
$color-blue: #4598ff;
$color-red: #ff5454;

$color-bg: #f2f5f7;
$color-bg-secondary: #e3f6ff;
$color-bg-table: #e9ebf2;

$color-bg-green: #56dabf26;
$color-bg-orange: #ff8c3c26;
$color-bg-purple: #7c67ff26;
$color-bg-blue: #e3f6ff;

$color-shadow: #d8dbe873;


$color-instagram: #ff6470;
$color-facebook: #5377c3;
$color-tiktok: #3a3b49;
$color-pinterest: #f44336;
$color-twitter: #55acee;
$color-youtube: #e52d27;
$color-reddit: #ff5722;
$color-website: #ff9907;